.row
  .medium-6.medium-centered.large-4.large-centered.columns
    %form{action: '/email-login', method: 'post'}
      .row.column.log-in-form
        %h4.text-center Enter e-mail to receive token
        %label{for: 'email'} E-mail
        %input#email{type: 'email', placeholder: 'somebody@somebody.com', name:'email'}

        -if @message
          .primary.callout
            %p= @message

        %input.button.expanded{type: 'submit', value: 'Send'}

        %p.text-center
          %a{href: '/login'} Have password?

        %p.text-center
          %a{href: '/register'} Are you new? Register!

