.row
  .large-12.columns
    %form{action: '/login', method: 'post'}
      .row
        .large-4.medium-4.columns
          %p
            %a.button.expanded{type: 'submit', href: '/logout'} Log Out

.row
  .large-12.columns
    %p= session.inspect

-if @username
  .row
    .large-12.columns
      %p= @username

-@all_pcs.each do |i|
  %p= i
