.row
  .medium-6.medium-centered.large-4.large-centered.columns
    %form{action: '/login', method: 'post'}
      .row.column.log-in-form
        %h4.text-center Login with your user name
        %label{for: 'user-name'} Username
        %input#user-name{type: 'text', placeholder: 'Somebody', name:'user'}

        %label{for: 'user-password'} Password
        %input#user-password{type: 'password', placeholder: 'Password', name:'password'}

        -if @error
          .alert.callout
            %p= @error

        %input.button.expanded{type: 'submit', value: 'Login'}

        %p.text-center
          %a{href: '/email-login'} Forgot password?

        %p.text-center
          %a{href: '/register'} Are you new? Register!
