.row
  .large-12.columns
    %form{action: '/login', method: 'post'}
      .row
        .large-4.medium-4.columns
          -if @error
            %p= @error
          %label{for: 'user-name'} Login
          %input#user-name{type: 'text', placeholder: 'Somebody', name:'user'}

          %label{for: 'user-password'} Password
          %input#user-password{type: 'password', placeholder: 'Password', name:'password'}

          %input.button.expanded{type: 'submit'}
