.row
  .medium-6.medium-centered.large-4.large-centered.columns
    %form{action: '/register', method: 'post'}
      .row.column.log-in-form
        %h4.text-center Create your Fluffy Paws Account
        %label{for: 'user-name'} Username
        %input#user-name{type: 'text', placeholder: 'Somebody', name:'user_name'}

        %label{for: 'email'} E-mail
        %input#email{type: 'email', placeholder: 'somebody@somebody.com', name:'email'}

        %label{for: 'user-password'} Password
        %input#user-password{type: 'password', placeholder: 'Password', name:'password'}

        -if @error
          .alert.callout
            %p= @error

        %input.button.expanded{type: 'submit'}

        %p.text-center
          %a{href: '/login'} Already have an account?
